@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500..800;1,500..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: figtree;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
}

.banner {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

header {
  margin-bottom: 15px;
}

h1 {
  color: hsl(0, 0%, 7%);
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}

p {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.pic {
  width: 35px;
}

footer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
}

@media (min-width: 480px) {
  .container {
    max-width: 400px;
  }
}
